@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');

body {
   background-repeat: no-repeat;
   background-size: 100%;
   padding: 0;
   margin: 0 0 100px 0;
   width: 100%;
   font-family: 'Varela Round', sans-serif;
   min-height: 100vh;
}

.button {
    background-color: rgb(11, 180, 11);
    color: #ffffff;
    text-decoration: none;
    padding: 15px;
}

@media(min-width: 320px){
  #header {
      height: 100px;
      padding: 10px;
      background-color: #fff;
  }

  .logo {
    margin-top: 5px;
    position: relative;
    padding-left: 20px;
    font-size: 150%;
    padding-bottom: 7px;
  }

  .logo a {
    float: left;
    font-size: 120%;
    text-decoration: none;
    color:black;
  }

  .logo span {
      color: #7451eb;
      font-size: 150%;
  }

  .nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav-items {
    width: 100%;
    align-items: center;
  }
  .nav-items ul {
      list-style: none;
      padding: 0px;
  }
  .nav-items ul li {
    display: flex;
    justify-content: center;
  }
  .nav-items ul li a{
      margin: 2px;
      padding: 5px;
      color: #000000;
      text-decoration: none;
      letter-spacing: .2ch;
      text-transform: uppercase;
  }
  .background-image {
    background-image: url(../assets/cuffs.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .main {
      display: flex;
      flex-direction: column;
      overflow: scroll;
  }
  .center-items {
      display: flex;
      justify-content: center;
  }
  .center-items h2 {
    color: #7451eb;
    margin-left : 1%;
  }
  .center-items2 {
    color: #fff;
    font-size: 1.625rem;
    font-family: Montserrat;
    font-weight: 400;
    float: right;
    line-height: 1.625rem;
    margin-top: 1px;
    margin-right: 720px;
  }
  .center-items h1 {
    color: #7451eb;
    font-size: 2.5rem;
    font-family: Montserrat;
    font-weight: 700;
    line-height: 3.125rem;
    letter-spacing: 0;
  }
  .content {
      padding: 0px;
  }
  .heading-text {
    font-weight: 900;
    font-size: 25px;
    display: flex;
    justify-content: center;
  }

  .tiles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 100px;
    font-size: 1rem;
    font-family: Montserrat;
    font-weight: 700;
    line-height: 1.5rem;
  }
  .article {
    display: flex;
    flex-shrink: wrap;
    background-color: #7451eb;
    padding-bottom: 20px;
    width: auto; 
    height: auto;
    color: white;
  }
  .contact {
    font-family: Montserrat;
    padding-left: 50px;
    bottom: 0;

  }
  .contact div{
    display: block;
    padding: 2px;
} 
  .single-tile {
    margin-top: 100px;
  }

 .paragraph {
    color: #003668;
    font-size: 1.625rem;
    font-family: Montserrat;
    font-weight: 400;
    line-height: 1.625rem;
    margin-top: 10px;
    margin-left: 90px;
}  
 .single-tile1 {
    display: inline-flex;
    float: left;
    margin-left: 700px;
} 
.section-header {
    background-color: #ffffff;
  }

  .section-header h1{
    color: #000000;
    font-size: medium;
  }
  .footer {
    background-color: #7451eb; 
    height: 100px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    bottom: 0px;
    width: 100%;
    position: fixed;
  }
  
}


@media (min-width: 768px){
    #header {
        height: 50px;
    }
    .nav {
        flex-direction: row;
      }
    
      .nav-items {
        width: 100%;
        align-items: center;
      }

      .nav-items ul {
          display: flex;
          flex-direction: row;
          width: 50%;
          float: right;
          justify-content: flex-end;

      }
      .nav-items ul li {
       margin: 0 5px 0 5px;
      }
      .nav-items ul li a:hover{
        border-bottom: 1px solid #7451eb;
       }
      .welcome {
        padding: 10px;
          height: 30vh;
      }
      .tiles {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
      }

      .single-tile {
        width: 30%;
      }
    
      .tile-title {
        background-color: #7451eb;
        margin: 5px 0px;
        padding: 5px 2px;
        display: flex;
        justify-content: center;
        color: #ffffff;
      }

      .tile-title span {
        font-size: 12px;
      }
}

@media (min-width: 1024px) {
  .tile-title span {
    font-size: 20px;
  }
  .single-tile {
    width: 25%;
    margin: 5px;
    justify-self: left;
  }
}