body {
    background-image: url(../assets/corruption2.jpg);
   background-repeat: no-repeat;
   background-size: 100%;
   padding: 0;
   margin: 0;
   width: 100%;
}
.logo{
    position: relative;
    padding-left: 10px;
    font-size: 150%;
    padding-bottom: 7px;
    /* margin-top: 1%; */
}
.logo a{
    float: left;
    font-size: 120%;
    text-decoration: none;
    color:black;
}
.logo a span{
    font-size: 170%;
    color: rgb(98, 182, 105);
}
.home-buttons{
    padding-right: 3px;
    list-style: none;
    margin-top: -20px;
    float: right;
}
.home-buttons li{
    display: inline-block;
    margin-top: 7%;
}
.home-buttons li a{
    color: black;
    text-decoration: none;
    margin-top: 0;
    margin-right: 3%;
    padding: 5px 20px;
    font-family: "Roboto", sans-serif;   
    font-size: 25px;
}
.home-buttons li a:hover{
    color: rgb(11, 180, 11);
    font-size: 100%;
}
#body{
    margin: 30px;
    height: 235px;
}

.welcome {
    padding-top: 2%;
    color: black;
    font-size: 200%;
    margin: 4%;
}
.welcome p{
    color: black;
    width: 50%;
    margin-top: 2%; 
    float: right;
}

.welcome h1{
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 10px;
    font-size: 200%;
    text-align: center;
    color: black;
}
.welcome p a{
    padding: 1%;
    background-color: rgb(223, 215, 215);
    color: black;
    text-transform: uppercase;
    font-size: 60%;
    letter-spacing: 2px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
    float: right;
    margin-top: 20%;
    
}
.welcome a:hover{
    color: white;
    background-color: rgb(2, 42, 2);
}
/* signup */
.signup {
    margin: 150px auto ;
    width: 400px;
    padding: 30px 30px;
    padding-left: 39px;
    background: rgb(230, 226, 226);
    border: 1px solid #c4c4c4;
}
.signup-input {
    width: 360px;
    height: 50px;
    margin-bottom: 25px;
    padding-left:10px;
    font-size: 17px;
    font-family: serif;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.password{
    width: 390px;
    height: 50px;
    margin-bottom: 25px;
    padding-left:10px;
    font-size: 17px;
    font-family: serif;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;  
}
input[type=submit].signup-button {
    width: 100%;
    height: 50px;
    padding: 0;
    font-size: 20px;
    color: #fff;
    text-align: center;
    background: rgb(98, 182, 105);
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    outline:0;
}
/* signin */
.login {
    margin: 170px auto; 
    width: 450px; 
    padding: 100px 30px;
    background: rgb(230, 226, 226);
    border: 1px solid #c4c4c4;
} 
.login-input {
    width: 440px;
    height: 50px;
    margin-bottom: 25px;
    padding-left:10px;
    font-size: 15px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input[type=submit].login-button {
    width: 100%;
    height: 50px;
    padding: 0;
    font-size: 20px;
    color: #fff;
    text-align: center;
    background: rgb(98, 182, 105);
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    outline:0;
}
/* red flag */
  nav {
    width: 100%;
    background: rgb(161, 184, 230);
    height: 80px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}
nav a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: #000000;
    font-size: 0.6em; 
    float: right;
    padding: 0px; 
}
  .sidebar ul li{
    display: inline;
    color: aliceblue;
    font-size: 20px;
   }
   .sidebar ul li a{
     color:rgb(8, 8, 8);
     font-size: 25px;
     cursor: pointer;
     text-decoration: none;
     margin-left: 20px;
     margin-right: 20px;
     float: right;
   }
   section h1{
    background: rgb(98, 182, 105);
    padding: 20px 0;
    font-size: 140%;
    font-weight: 300;
    text-align: center;
    color: #fff;
}
   input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid rgb(116, 92, 92);
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  input[type=submit] {
    background-color: #4CAF50;
    width: 20%;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
  } 
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    
  } 
#container{
    margin-top: 3%;
    margin-left: 110px;
    width: 150%;
  }
  #container .container{
    position: absolute;
    right: 0;
    left: 2px;
    width: 130%;
  }
  .placeholder{
    float: left;
    width: 40%;
    margin-top: 6px;
  }
  .placeholder #status {
    height: 40px;;
  }
  .placeholder .date {
    width: 100%;
    height: 40px;
    border: 1px solid rgb(116, 92, 92);
    border-radius: 4px;
    box-sizing: border-box;
  }
  .form-input {
    width: 50%;
  }
  .row {
    display: flex;
    clear: both;
  }
  .row .title {
    max-width: 5vw;
  }
.title {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
.title {
    float: none;
    width: 100%;
    margin: none;
    padding: none;
  }
  