*{
    padding: 0;
    margin: 0;
}
.background{
    background-image: url(../assets/cuffs.jpg); 
    background-size: cover;
    height: 90vh;
}
.logo{
    margin-top: -4%;
}
#signin{
    margin: 20px
}
.navigationBar{
    display: grid;
    grid-template-columns: 8fr .5fr .5fr;
    background-color: aliceblue;
    font-size: 20px;
    height: 8vh;
}
.navigationBar a{
    text-decoration: none;
    color: black;
}
.navigationBar a:hover{
    color: rgb(109, 7, 168);
}
.message{
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    color: aliceblue;
    text-align: center;

}
.message p{
    max-width: 80%;
    font-size: 2em;
}
.title{
    background-color: #7451eb;
    color: aliceblue;
    text-align: center;
    padding: 10px;
    font-size: 2em;
}
.info-container{
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(700px, 3fr));
      
}
.information{
    display: grid;
    grid-template-columns: 2fr 2fr;
    margin: 10px;
    font-size: 1.5em;
}

.information img{
margin: 0px 0px 0px 0px;
}
.contact{
    background-color: #2f0d9c;
    color: aliceblue;
    font-size: 20px;
    text-align: center;
    padding: 1%;
}
.footer{
    background-color: #7451eb; 
    height: 60px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0px;
    width: 100%;
   
}
