body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    }
  header {
      display: flex;
   }
   .logo {
    width: 190px;
    margin-top: -10%;
    margin-left: 20%;
   }
  .nav-items {
    margin-top: 2%;
    margin-left: 70%;
    }
  .nav-items ul li a {
    text-decoration: none;
    font-size: 1.3em;
  }
  .nav-items ul li a:hover{
      background: none;
      transition-duration: 0.05s;
      cursor: pointer;
      background-color: #7451eb;
  }
  .nav-items ul {
    list-style: none;
  }
  @media only screen and (min-width: 375px){
    .container {
        margin-top: 3px;
        margin-left: 150px;
        margin-bottom: 40px;
        display: flex;
        width: 100%;
        flex-direction: column;;
        padding: 10px 30px;
        background: #fff;
        border: 2px solid #c4c4c4;
      
    } 
    .right_side h1{
      padding: 20px 0;
      padding-left: 100px;
      font-size: 1.3em;
      color: #000000;
    }
    input[type=text], select {
      width: 320px;
      padding: 15px;
      border: 1px solid rgb(116, 92, 92);
      border-radius: 4px;
    }
    label {
      padding: 10px 12px 12px 0px;
      display: inline-block;
      font-size: 1.1em;
    }
    .label {
        font-size: 1.1em;
    }
    #type .label {
        font-size: 1.1em;
    }
    .placeholder{
      width: 40%;
      height: 50px;
    }
    .placeholder .date {
      width: 350px;
      height: 60px;
      border: 1px solid rgb(116, 92, 92);
      border-radius: 4px;
      box-sizing: border-box;
      font-size: 1.1em;
    }
    .placeholder #status {
      width: 350px;
      height: 40px;;
    }
    .row .title {
      max-width: 6vw;
    }
    input[type=submit].submit {
      margin-left: 125px;
      margin-top: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.875rem 24px;
      border: 0;
      border-radius: 3rem;
      font-family:  sans-serif;
      font-size: 0.875rem;
      font-weight: 500;
      width: 190px;
      text-align: center;
      text-transform: uppercase;
      color : #fff;
      background-color: #7451eb;
    }
  }
  @media only screen and (min-width: 768px){
    .container {
        margin-top: 3px;
        margin-left: 150px;
        margin-bottom: 40px;
        display: flex;
        width: 80%;
        flex-direction: column;;
        padding: 10px 30px;
        background: #fff;
        border: 2px solid #c4c4c4;
      
    } 
    input[type=text], select {
        width: 320px;
        padding: 15px;
        border: 1px solid rgb(116, 92, 92);
        border-radius: 4px;
      }
      label {
        padding: 10px 12px 12px 0px;
        display:  inline-block;
        font-size: 1.1em;
      }
      .label {
          font-size: 1.1em;
      }
      #type .label {
          font-size: 1.1em;
          width: 50%;
      }
      .placeholder{
        width: 40%;
        height: 50px;
      }
      .placeholder .date {
        width: 350px;
        height: 60px;
        border: 1px solid rgb(116, 92, 92);
        border-radius: 4px;
        box-sizing: border-box;
        font-size: 1.1em;
      }
      .placeholder #status {
        width: 350px;
        height: 40px;;
      }
      .row .title {
        max-width: 6vw;
      } 
  }
 
@media only screen and (min-width: 1024px) {
    .nav-items {
        margin-top: 4%;
        margin-left: 50%;
        }
    .container {
    margin: 10px;
    margin-bottom: 60px;
    margin-left: 230px;
    width: 50%;
    display: flex;
    flex-direction: column;
    height: 70%;
    padding: 30px 30px;
    padding-left: 50px;
    background: #fff;
    border: 2px solid #c4c4c4;
    
  } 
  input[type=text], select {
    width: 350px;
    padding: 12px;
    border: 1px solid rgb(116, 92, 92);
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }
  .flags h1{
    padding: 20px 0;
    padding-left: 160px;
    font-size: 1.3em;
    background-color: #7451eb;
    color: #fff;
  }
  label {
    padding: 20px 12px 12px 0px;
    display: inline-block;
  }
  .placeholder{
    float: left;
    width: 40%;
    margin-top: 13px;
    margin-left: 50px;
  }
  .placeholder #status {
    height: 40px;;
  }
  .placeholder .date {
    width: 350px;
    height: 40px;
    border: 1px solid rgb(116, 92, 92);
    border-radius: 4px;
    box-sizing: border-box;
  }
  .form-input {
    width: 40%;
  }
  .row {
    display: flex;
    clear: both;
  }
  .row .title {
    max-width: 5vw;
  }
  .title {
    float: left;
    width: 25%;
    margin-top: 4px;
  }
}
@media only screen and (min-width: 1440px){
    .nav-items {
        margin-top: 4%;
        margin-left: 65%;
        }
    .container {
        margin: 10px;
        margin-bottom: 60px;
        margin-left: 350px;
        width: 40%;
        display: flex;
        flex-direction: column;
        height: 70%;
        padding: 30px 30px;
        padding-left: 50px;
        background: #fff;
        border: 2px solid #c4c4c4;
        
      }
}
@media only screen and (min-width: 1800px){
    .nav-items {
        margin-top: 2%;
        margin-left: 70%;
        }
    .container {
        margin: 10px;
        margin-bottom: 60px;
        margin-left: 700px;
        width: 30%;
        display: flex;
        flex-direction: column;
        height: 70%;
        padding: 30px 30px;
        padding-left: 50px;
        background: #fff;
        border: 2px solid #c4c4c4;
        
      } 
      input[type=submit].submit {
        margin-left: 180px;
        margin-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.875rem 24px;
        border: 0;
        border-radius: 3rem;
        font-family:  sans-serif;
        font-size: 0.875rem;
        font-weight: 500;
        width: 190px;
        text-align: center;
        text-transform: uppercase;
        color : #fff;
        background-color: #7451eb;
      }
}